.cf-tab-navigation {
  @include unstyled-list;

  margin-top: 2em;
  position: relative;
  width: 100%;
  border-bottom: 1px solid $color-primary;

  li {
    display: inline-block;
    margin: 0 -4px 0 0;
  }

  button {
    display: inline-block;
    margin: 0 -4px 0 0;

    &::-moz-focus-inner {
      padding: 0 !important;
      border: 0 none !important;
    }
  }

  div {
    display: inline-block;
    margin: 0 -1px 0 0;
  }
}

.cf-tab {
  box-sizing: border-box;
  border: 1px solid $color-gray-light;
  border-bottom: 0;
  border-radius: 0;
  background: $color-white;
  padding: 0;
  color: $color-gray;
  line-height: normal;

  > span {
    display: inline-block;
    padding: 15px 1.5em;
    position: relative;
  }

  svg {
    margin-right: 0.25em;
    margin-left: -0.4em;
    path { fill: $color-gray; }
  }

  &:hover {
    color: $color-gray-dark;
    background-color: $color-white;
    text-decoration: none;
    cursor: pointer;
  }

  &:disabled:hover {
    color: $color-gray;
  }

  &:focus {
    svg path {
      fill: $color-primary;
    }
  }
}

.cf-active {
  color: $color-primary;
  border: 1px solid $color-primary;
  box-shadow: 0 2px 0 0 $color-primary inset;
  border-bottom: 0;

  > span {
    top: 1px;
    background: $color-white;
    box-shadow: 0 2px 0 0 $color-primary inset;

    > span {
      position: relative;
      top: -1px;
    }
  }

  + .cf-tab {
    border-left: 1px solid $color-primary;
  }
}

.cf-tab-content {
  border: 1px solid $color-gray-lighter;
  border-top: 0;
  padding-top: 1px;
  max-height: 600px;
  overflow-y: scroll;
}
