@import 'bourbon';
@import 'neat';
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';
@import 'fonts';

$cf-background: #f9f9f9;


html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $cf-background;
}
